---
---

<p class="icon_divider">
	<svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve">
	<style type="text/css">
		.st0{fill:#afeeee;}
	</style>
	<g>
		<path class="st0" d="M509.425,135.938c2.636-3.109,3.314-7.618,1.73-11.466c-1.578-3.846-5.135-6.338-9.043-6.338H385.242
			l8.433-20.12c5.492-13.088,15.876-23.083,28.584-27.524l79.312-27.654l-7.862-26.031l-79.298,27.662
			c-19.548,6.81-35.493,22.169-43.934,42.303l-13.156,31.364H107.667c-3.915,0-7.473,2.492-9.05,6.338
			c-1.577,3.848-0.906,8.357,1.73,11.466l171.316,202.193v84.66l-68.449,54.584c-3.436,2.735-4.853,7.527-3.512,11.885
			c1.341,4.365,5.134,7.306,9.401,7.306H400.66c4.274,0,8.068-2.941,9.409-7.306c1.333-4.358-0.076-9.15-3.504-11.885l-68.449-54.584
			v-84.66L509.425,135.938z M322.323,436.695l48.391,38.586H239.065l48.382-38.586c2.545-2.004,4.008-5.165,4.008-8.54V334.01
			c0-2.636-0.929-5.219-2.582-7.169L130.064,139.419h218.328l-24.805,59.156H201.104l103.782,122.933L408.66,198.575h-57.152
			l24.813-59.156h103.386L320.899,326.841c-1.653,1.95-2.568,4.533-2.568,7.169v94.144
			C318.331,431.53,319.794,434.691,322.323,436.695z" style="fill: #afeeee;"></path>
		<path class="st0" d="M67.725,170.845c6.589,2.719,13.164,2.567,13.164,2.567c1.821,0,3.497-0.107,4.845-1.219
			c1.349-1.112,2.126-2.773,2.126-4.526v-41.914c0-0.587-0.35-1.12-0.899-1.349c-0.548-0.221-1.174-0.099-1.592,0.32l-29.642,29.634
			c-1.234,1.242-1.858,2.964-1.691,4.693c0.175,1.744,1.15,2.963,2.56,4.296C56.595,163.348,61.136,168.102,67.725,170.845z" style="fill: #afeeee;"></path>
		<path class="st0" d="M134.742,60.549c-0.167-1.744-1.15-2.964-2.56-4.289c0,0-4.54-4.762-11.13-7.496
			c-6.59-2.728-13.164-2.575-13.164-2.575c-1.821,0-3.49,0.122-4.838,1.226c-1.348,1.112-2.133,2.773-2.133,4.525v41.915
			c0,0.579,0.358,1.12,0.907,1.341c0.54,0.228,1.173,0.107,1.584-0.312l29.642-29.642C134.284,64.008,134.902,62.278,134.742,60.549z
			" style="fill: #afeeee;"></path>
		<path class="st0" d="M33.352,135.161c2.735,6.59,7.488,11.13,7.488,11.13c1.288,1.287,2.552,2.385,4.289,2.559
			c1.737,0.168,3.467-0.457,4.701-1.691l29.642-29.642c0.419-0.411,0.541-1.044,0.312-1.592c-0.228-0.548-0.754-0.898-1.348-0.898
			H36.521c-1.752,0-3.405,0.777-4.518,2.126c-1.112,1.348-1.279,2.902-1.226,4.852C30.777,122.004,30.625,128.571,33.352,135.161z" style="fill: #afeeee;"></path>
		<path class="st0" d="M110.341,105.618h41.916c1.752,0,3.405-0.777,4.518-2.125c1.104-1.349,1.279-2.902,1.218-4.837
			c0,0,0.168-6.575-2.567-13.164c-2.727-6.598-7.489-11.131-7.489-11.131c-1.287-1.287-2.544-2.392-4.289-2.559
			c-1.736-0.168-3.466,0.449-4.7,1.683l-29.642,29.642c-0.411,0.411-0.54,1.044-0.312,1.592
			C109.214,105.267,109.754,105.618,110.341,105.618z" style="fill: #afeeee;"></path>
		<path class="st0" d="M32.004,103.492c1.112,1.348,2.766,2.125,4.518,2.125h41.915c0.594,0,1.12-0.35,1.348-0.899
			c0.236-0.548,0.107-1.181-0.312-1.592L49.83,73.484c-1.234-1.242-2.964-1.851-4.701-1.683c-1.737,0.168-2.948,1.15-4.289,2.559
			c0,0-4.753,4.533-7.488,11.131c-2.727,6.589-2.575,13.156-2.575,13.156C30.777,100.476,30.891,102.144,32.004,103.492z" style="fill: #afeeee;"></path>
		<path class="st0" d="M87.86,51.94c0-1.76-0.777-3.413-2.126-4.525c-1.348-1.112-2.903-1.272-4.845-1.226
			c0,0-6.575-0.153-13.164,2.575c-6.59,2.734-11.13,7.488-11.13,7.488c-1.288,1.288-2.385,2.545-2.56,4.289
			c-0.167,1.737,0.457,3.467,1.691,4.701l29.642,29.634c0.419,0.419,1.044,0.548,1.592,0.32c0.549-0.229,0.899-0.762,0.899-1.348
			V51.94z" style="fill: #afeeee;"></path>
		<path class="st0" d="M172.208,109.8v0.008h16.57c0-21.811-7.413-41.916-19.891-57.898c-4.807-6.201-10.414-11.77-16.608-16.615
			c-15.99-12.448-36.095-19.86-57.906-19.86C42.349,15.434,0,57.753,0,109.808c0,17.125,4.601,33.222,12.616,47.08
			c8.304,14.368,20.31,26.374,34.686,34.685c13.842,8.007,29.939,12.6,47.057,12.608V187.62
			c-42.966-0.016-77.789-34.846-77.789-77.82c0-42.966,34.838-77.812,77.82-77.812S172.208,66.834,172.208,109.8z" style="fill: #afeeee;"></path>
	</g>
	</svg>
</p>

<style lang="scss">
  
	p.icon_divider{
		width: 100%;
		display: flex;
		align-items: center;
		padding:30px 0;
		svg{
			width: 60px;
			height:auto;
		}
		&:before,&:after {
			content: "";
			display: inline-block;
			width: 100%;
			flex: 0 1 auto;
			height: 1px;
			background-color: #ff1493;
			white-space: nowrap;
		}
		&:before {
			margin-right: 1em;
		}

		&:after {
			margin-left: 1em;
		}
	}
</style>
