$bg_body :#fafafa;//全体背景カラー
$red:#c72c4c;
$white: #fff;

$textcolor_base:#333;//基本文字
$linkcolor_base:#000dc1;//リンクカラー
$linkcolor_hover:#000dc1;//ホバーのリンクカラー

$noimage:#f7c5e3; //写真ないときのカラー
$hoverbg:#f7c5e3; //リストでホバーのときのカラー

$pager_active:#f7c5e3; //ページネーションの今のページ


$font_title:"Zen Maru Gothic", sans-serif;//[300,400,500,700,900]
$font_family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
//$font_family: "Noto Sans JP", sans-serif;//400,700


$pagesize: 1000px;
$spsize:5.6%;//8
$sp:  "only screen and (max-width:650px)";
$sp320:  "only screen and (max-width:320px)";
$sp375:  "only screen and (max-width:375px)";
$sp414:  "only screen and (max-width:414px)";
$tablet: "only screen and (max-width:769px)";
$tabletwide: "only screen and (max-width:959px)";

$pc:  "only screen and (min-width:561px)";
$morepc:  "print, screen and (min-width:1000px)";