---
import { Post } from '../lib/interfaces.ts'
import { filePath } from '../lib/blog-helpers'

export interface Props {
  post: Post
}

const { post } = Astro.props
// 画像URLを DEV / 本番共通で処理
//let image = post.FeaturedImage?.Url

let image = ''
if (post.FeaturedImage && post.FeaturedImage.Url) {
  if (import.meta.env.DEV) {
    image = post.FeaturedImage.Url
  } else {
    image = filePath(new URL(post.FeaturedImage.Url))
  }
}

---

{
  image && (
    <div class="post-featured-image">
      <img src={image} alt="記事のメインイメージ" />
    </div>
  )
}
<style>
	.post-featured-image {
		img{
			width:100%;
			height:auto;
		}
	}
</style>